<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="UTF-8">
        <title>Blogzando</title>
        <!--link é somente um link que o bootstrap criou para vincular o css à página -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Passando novo link de css para adequação. Qualquer alteração feita dentro do arquivo de css terá efeito em todas as páginas dess maneira -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"
        {% block head %}
        {% endblock %}

    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <!--Colocar o with para coletar mensagens -->
            {% with mensagens = get_flashed_messages(with_categories=True) %}
                <!--Se mensagens for uma lista não vazia -->
                {% if mensagens %}
                    <!--Roda um loop para realizar o unpacking de cada mensagem e mostrar mensagem no site -->
                    {% for categoria, mensagem in mensagens %}
                        <!--categoria é um string escrito no main.py função forms para descrever o tipo de alerta -->
                        <div class="alert {{ categoria }}">
                            {{ mensagem }}
                        </div>
                    {% endfor %}
                {% endif %}

            {% endwith %}
        </div>
        {% block body %}
        {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>